//
// Button groups
// --------------------------------------------------


// Make the div behave like a button.
.btn-group {
  position: relative;
  font-size: 0; // Remove as part 1 of font-size inline-block hack.
  vertical-align: middle; // Match .btn alignment given font-size hack above.
  white-space: nowrap; // Prevent buttons from wrapping when in tight spaces (e.g., the table on the tests page).
  @include ie7-restore-left-whitespace();
}

// Space out series of button groups.
.btn-group + .btn-group {
  margin-left: 5px;
}

// Optional: Group multiple button groups together for a toolbar.
.btn-toolbar {
  font-size: 0; // Hack to remove whitespace that results from using inline-block.
  margin-top: $baseLineHeight / 2;
  margin-bottom: $baseLineHeight / 2;
  .btn-group {
    @include inline-block;
  }
  .btn + .btn,
  .btn-group + .btn,
  .btn + .btn-group {
    margin-left: 5px;
  }
}

// Float them, remove border radius, then re-add to first and last elements.
.btn-group > .btn {
  position: relative;
  @include border-radius(0);
}
.btn-group > .btn + .btn {
  margin-left: -1px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu {
  font-size: $baseFontSize; // Redeclare as part 2 of font-size inline-block hack.
}

// Reset fonts for other sizes
.btn-group > .btn-mini {
  font-size: 11px;
}
.btn-group > .btn-small {
  font-size: 12px;
}
.btn-group > .btn-large {
  font-size: 16px;
}

// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match.
.btn-group > .btn:first-child {
  margin-left: 0;
     -webkit-border-top-left-radius: 4px;
         -moz-border-radius-topleft: 4px;
             border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it.
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
     -webkit-border-top-right-radius: 4px;
         -moz-border-radius-topright: 4px;
             border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
}
// Reset corners for large buttons.
.btn-group > .btn.large:first-child {
  margin-left: 0;
     -webkit-border-top-left-radius: 6px;
         -moz-border-radius-topleft: 6px;
             border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomleft: 6px;
          border-bottom-left-radius: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
     -webkit-border-top-right-radius: 6px;
         -moz-border-radius-topright: 6px;
             border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
      -moz-border-radius-bottomright: 6px;
          border-bottom-right-radius: 6px;
}

// On hover/focus/active, bring the proper btn to front.
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

// On active and open, don't show outline.
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}



// Split button dropdowns
// ----------------------

// Give the line between buttons some depth.
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  @include box-shadow(#{inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)});
  *padding-top: 5px;
  *padding-bottom: 5px;
}
.btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}
.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
.btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}

.btn-group.open {

  // The clickable button for toggling the menu.
  // Remove the gradient and set the same inset shadow as the :active state.
  .dropdown-toggle {
    background-image: none;
    @include box-shadow(#{inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)});
  }

  // Keep the hover's background when dropdown is open.
  .btn.dropdown-toggle {
    background-color: $btnBackgroundHighlight;
  }
  .btn-primary.dropdown-toggle {
    background-color: $btnPrimaryBackgroundHighlight;
  }
  .btn-warning.dropdown-toggle {
    background-color: $btnWarningBackgroundHighlight;
  }
  .btn-danger.dropdown-toggle {
    background-color: $btnDangerBackgroundHighlight;
  }
  .btn-success.dropdown-toggle {
    background-color: $btnSuccessBackgroundHighlight;
  }
  .btn-info.dropdown-toggle {
    background-color: $btnInfoBackgroundHighlight;
  }
  .btn-inverse.dropdown-toggle {
    background-color: $btnInverseBackgroundHighlight;
  }
}


// Reposition the caret.
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
// Carets in other button sizes.
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 6px;
}
.btn-large .caret {
  border-left-width:  5px;
  border-right-width: 5px;
  border-top-width:   5px;
}
// Upside down carets for .dropup.
.dropup .btn-large .caret {
  border-bottom: 5px solid $black;
  border-top: 0;
}



// Account for other colors.
.btn-primary,
.btn-warning,
.btn-danger,
.btn-info,
.btn-success,
.btn-inverse {
  .caret {
    border-top-color: $white;
    border-bottom-color: $white;
  }
}



// Vertical button groups.
// ----------------------

.btn-group-vertical {
  @include inline-block; // Makes buttons only take up the width they need.
}
.btn-group-vertical .btn {
  display: block;
  float: none;
  width: 100%;
  @include border-radius(0);
}
.btn-group-vertical .btn + .btn {
  margin-left: 0;
  margin-top: -1px;
}
.btn-group-vertical .btn:first-child {
  @include border-radius(4px 4px 0 0);
}
.btn-group-vertical .btn:last-child {
  @include border-radius(0 0 4px 4px);
}
.btn-group-vertical .btn-large:first-child {
  @include border-radius(6px 6px 0 0);
}
.btn-group-vertical .btn-large:last-child {
  @include border-radius(0 0 6px 6px);
}


//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  @include inline-block;
  padding: 4px 14px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  *line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus.
  border-bottom-color: darken($btnBorder, 10%);
  @include border-radius(4px);
  @include ie7-restore-left-whitespace(); // Give IE7 some love.
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)});

  // Hover state
  &:hover {
    color: $grayDark;
    text-decoration: none;
    background-color: darken($white, 10%);
    *background-color: darken($white, 15%); // Buttons in IE7 don't get borders, so darken on hover.
    background-position: 0 -15px;

    // transition is only when going to hover, otherwise the background behind the gradient (there for IE<=9 fallback) gets mismatched.
    @include transition(background-position .1s linear);
  }

  // Focus state for keyboard and accessibility.
  &:focus {
    @include tab-focus();
  }

  // Active state.
  &.active,
  &:active {
    background-color: darken($white, 10%);
    background-color: darken($white, 15%) \9;
    background-image: none;
    outline: 0;
    @include box-shadow(#{inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)});
  }

  // Disabled state.
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: darken($white, 10%);
    background-image: none;
    @include opacity(0.65);
    @include box-shadow(none);
  }

}



// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 9px 14px;
  font-size: $baseFontSize + 2px;
  line-height: normal;
  @include border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}

// Small
.btn-small {
  padding: 3px 9px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 2px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}

// Mini
.btn-mini {
  padding: 2px 6px;
  font-size: $baseFontSize - 3px;
  line-height: $baseLineHeight - 3px;
}


// Block button
// -------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  @include box-sizing(border-box);
}

// Vertically space out multiple block buttons.
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}



// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it.
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds.
// -------------------------
.btn {
  // Reset here as of 2.0.3 due to Recess property order.
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,.15) rgba(0,0,0,.15) rgba(0,0,0,.25);
}
.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}
// Warning appears are orange.
.btn-warning {
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}
// Danger and error appear as red.
.btn-danger {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}
// Success appears as green.
.btn-success {
  @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue.
.btn-info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray.
.btn-inverse {
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls.
  *padding-top: 3px;
  *padding-bottom: 3px;

  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link.
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  @include box-shadow(none);
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;
  @include border-radius(0);
}
.btn-link:hover {
  color: $linkColorHover;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover {
  color: $grayDark;
  text-decoration: none;
}
