//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination {
  height: $baseLineHeight * 2;
  margin: $baseLineHeight 0;
 }
.pagination ul {
  @include inline-block;
  margin-left: 0;
  margin-bottom: 0;
  @include border-radius(3px);
  @include box-shadow(#{0 1px 2px rgba(0,0,0,.05)});
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 0 14px;
  line-height: ($baseLineHeight * 2) - 2;
  text-decoration: none;
  background-color: $paginationBackground;
  border: 1px solid $paginationBorder;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: $grayLight;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: $grayLight;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  @include border-radius(3px 0 0 3px);
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  @include border-radius(0 3px 3px 0);
}

// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}



//
// Pager pagination
// --------------------------------------------------


.pager {
  margin: $baseLineHeight 0;
  list-style: none;
  text-align: center;
  @include clearfix();
}
.pager li {
  display: inline;
}
.pager a,
.pager span {
  @include inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  @include border-radius(15px);
}
.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next a,
.pager .next span {
  float: right;
}
.pager .previous a {
  float: left;
}
.pager .disabled a,
.pager .disabled a:hover,
.pager .disabled span {
  color: $grayLight;
  background-color: #fff;
  cursor: default;
}