// ---------------------------------------------------------------------------
// Imports.

// With Susy 1 installed...
@import "susy"; // Susy Grids

// With Susy 2 installed...
//@import "susyone";


// @import "singularitygs"; // Singularity Grid System
// @import "zen"; // Zen Grids
// @import "breakpoint"; //@Media Query Mixins

// ---------------------------------------------------------------------------
// Susy Grid.

$base-font-size: 14px;
// This is the default number of columns.
$total-columns: 4;
// Width of each column.
$column-width   : 6em;
// Space between columns.
$gutter-width   : 1.5em;
// Space on the right and left of the grid.
$grid-padding   : $gutter-width;

// $container-style: <style>; <style>: magic | static | fluid.
$container-style: magic;

$border-box-sizing: true;

@include border-box-sizing;
// $legacy-support-for-ie  : true;
// $legacy-support-for-ie6 : $legacy-support-for-ie;
// $legacy-support-for-ie7 : $legacy-support-for-ie;

$show-grid-backgrounds  : true;

//alternative layout breakpoints
$narrow:30em 6;
$tablet:40em 8;
$computer:52em 12;
$wide: 65em 12;


// ---------------------------------------------------------------------------
// Media Query Settings for use with Breakpoint.

/*
$breakpoint-to-ems: true;
$breakpoint-default-media: all;
$breakpoint-default-pair: width;

$narrow: 32em;
$tablet: 48em;
$computer: 63em;
$wide: 80em;
*/


// ---------------------------------------------------------------------------
// "Mobile First", grid styles.

.container{
  @include container;
  @include susy-grid-background;

  @include at-breakpoint($narrow){
    @include container;
    @include susy-grid-background;
  }
  @include at-breakpoint($tablet){
    @include container;
    @include susy-grid-background;
  }
  @include at-breakpoint($computer){
    @include container;
    @include susy-grid-background;
  }
  @include at-breakpoint($wide){
    @include container;
    @include susy-grid-background;
  }
} //.container



// Panels Layouts
.parrot-panels{
  #minipanel-two-50-top-wrapper{
    .minipanel-two-50-top{
      @include span-columns(12 omega, 12);
    }
  }
  #minipanel-two-50-middle-wrapper{
    .minipanel-two-50-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(6, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(6, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(6, 12);
      }
    }
    .minipanel-two-50-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(6 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(6 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(6 omega, 12);
      }
    }
  }

  #minipanel-two-50-bottom-wrapper{
    .minipanel-two-50-bottom{
      @include span-columns(12 omega, 12);
    }
  }

  #minipanel-three-33-top-wrapper{
    .minipanel-three-33-top{
      @include span-columns(12 omega, 12);
    }
  }

  #minipanel-three-33-middle-wrapper{
    .minipanel-three-33-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 12);
      }
    }
    .minipanel-three-33-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 12);
      }
    }
    .minipanel-three-33-third{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(4 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(4 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(4 omega, 12);
      }
    }
  }

  #minipanel-three-33-bottom-wrapper{
    .minipanel-three-33-bottom{
      @include span-columns(12 omega, 12);
    }
  }

  #minipanel-four-25-top-wrapper{
    .minipanel-four-25-top{
      @include span-columns(12 omega, 12);
    }//.minipanel-four-25-top
  } //#minipanel-four-25-top-wrapper

  #minipanel-four-25-middle-wrapper{
    .minipanel-four-25-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3, 12);
      }
    } //.minipanel-four-25-first

    .minipanel-four-25-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3, 12);
      }
    }//.minipanel-four-25-second

    .minipanel-four-25-third{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3, 12);
      }
    }//.minipanel-four-25-third

    .minipanel-four-25-fourth{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(3 omega, 12);
      }
    }//.minipanel-four-25-fourth
  } //#minipanel-four-25-middle-wrapper

  #minipanel-four-25-bottom-wrapper{
    .minipanel-four-25-bottom{
      @include span-columns(12 omega, 12);
    }//.minipanel-four-25-bottom
  } //#minipanel-four-25-bottom-wrapper


//
// three-inset-left Panel
//
  #three-inset-left-wrapper{
    #three-inset-left-left-wrapper{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(9, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(9, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(9, 12);
      }

      .three-inset-left-top,
      .three-inset-left-bottom{
        @include span-columns(12 omega, 12);
      }

      .three-inset-left-middle{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include remove-omega;
          @include span-columns(6, 12);
        }
        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(6, 12);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(6, 12);
        }
      }
      .three-inset-left-inset{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include span-columns(6 omega, 12);
        }
        @include at-breakpoint($computer){
          @include span-columns(6 omega, 12);
        }
        @include at-breakpoint($wide){
          @include span-columns(6 omega, 12);
        }
      }
    }
    #three-inset-left-right-wrapper{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(3 omega, 12);
      }
    }
  }

//
// three-inset-right Panel
//
  #three-inset-right-wrapper{
    #three-inset-right-right-wrapper{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(9 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(9 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(9 omega, 12);
      }
      .three-inset-right-top,
      .three-inset-right-bottom{
        @include span-columns(12 omega, 12);
      }
      .three-inset-right-middle{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include remove-omega;
          @include span-columns(6, 12);
        }
        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(6, 12);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(6, 12);
        }
      }
      .three-inset-right-inset{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include span-columns(6 omega, 12);
        }
        @include at-breakpoint($computer){
          @include span-columns(6 omega, 12);
        }
        @include at-breakpoint($wide){
          @include span-columns(6 omega, 12);
        }
      }
    }
    #three-inset-right-left-wrapper{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3, 12);
      }
    }
  }


//
// three-33 Panel
//
  #three-33-top-wrapper{
    .three-33-top{
      @include span-columns(12 omega, 12);
    }
  }

  #three-33-middle-wrapper{
    .three-33-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 12);
      }
    }
    .three-33-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 12);
      }
    }
    .three-33-third{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(4 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(4 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(4 omega, 12);
      }
    }
  }

  #three-33-bottom-wrapper{
    .three-33-bottom{
      @include span-columns(12 omega, 12);
    }
  }


  #three-25-50-25-top-wrapper{
    .three-25-50-25-top{
      @include span-columns(12 omega, 12);
    }
  }
  #three-25-50-25-middle-wrapper{

    .three-25-50-25-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3, 12);
      }
    }
    .three-25-50-25-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(6, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(6, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(6, 12);
      }
    }
    .three-25-50-25-third{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(3 omega, 12);
      }
    }
  }

  #three-25-50-25-bottom-wrapper{
    .three-25-50-25-bottom{
      @include span-columns(12 omega, 12);
    }
  }


//
// two-33-66 Panel
//
  #two-33-66-top-wrapper{
    .two-33-66-top{
      @include span-columns(12 omega, 12);
    }
  }

  #two-33-66-middle-wrapper{
    .two-33-66-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 12);
      }
    }
    .two-33-66-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(8 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(8 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(8 omega, 12);
      }
    }
  }

  #two-33-66-bottom-wrapper{
    .two-33-66-bottom{
      @include span-columns(12 omega, 12);
    }
  }

  //
  // two-33-66 Panel
  //
  #two-33-66-alt-top-wrapper{
    .two-33-66-alt-top{
      @include span-columns(12 omega, 12);
    }
  }

  #two-33-66-alt-middle-wrapper{
    .two-33-66-alt-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(5, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(3, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3, 12);
      }
    }
    .two-33-66-alt-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(6 omega, 12);
        @include pull(5);
      }
      @include at-breakpoint($computer){
        @include span-columns(9 omega, 12);
        @include pull(3);
      }
      @include at-breakpoint($wide){
        @include span-columns(9 omega, 12);
        @include pull(3);
      }
    }
  }

  #two-33-66-alt-bottom-wrapper{
    .two-33-66-alt-bottom{
      @include span-columns(12 omega, 12);
    }
  }

  //
  // two-66-33 Panel
  //
    #two-66-33-top-wrapper{
      .two-66-33-top{
        @include span-columns(12 omega, 12);
      }
    }

    #two-66-33-middle-wrapper{
      .two-66-33-first{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include remove-omega;
          @include span-columns(8, 12);
        }
        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(8, 12);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(8, 12);
        }
      }
      .two-66-33-second{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include span-columns(4 omega, 12);
        }
        @include at-breakpoint($computer){
          @include span-columns(4 omega, 12);
        }
        @include at-breakpoint($wide){
          @include span-columns(4 omega, 12);
        }
      }
    }

    #two-66-33-bottom-wrapper{
      .two-66-33-bottom{
        @include span-columns(12 omega, 12);
      }
    }

    #four-25-top-wrapper{
      .four-25-top{
        @include span-columns(12 omega, 12);
      }//.four-25-top
    } //#four-25-top-wrapper

    #four-25-middle-wrapper{
      .four-25-first{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include remove-omega;
          @include span-columns(3, 12);
        }
        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(3, 12);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(3, 12);
        }
      } //.four-25-first

      .four-25-second{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include remove-omega;
          @include span-columns(3, 12);
        }
        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(3, 12);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(3, 12);
        }
      }//.four-25-second

      .four-25-third{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include remove-omega;
          @include span-columns(3, 12);
        }
        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(3, 12);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(3, 12);
        }
      }//.four-25-third

      .four-25-fourth{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include span-columns(3 omega, 12);
        }
        @include at-breakpoint($computer){
          @include span-columns(3 omega, 12);
        }
        @include at-breakpoint($wide){
          @include span-columns(3 omega, 12);
        }
      }//.four-25-fourth
    } //#four-25-middle-wrapper

    #four-25-bottom-wrapper{
      .four-25-bottom{
        @include span-columns(12 omega, 12);
      }//.four-25-bottom
    } //#four-25-bottom-wrapper
} //.parrot-panels

.width-25.float-left{
  @include span-columns(12 omega, 12);
  clear: right;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(3, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(3, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(3, 12);
  }
}

.width-25.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(3 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(3 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(3 omega, 12);
  }
}

.width-33.float-left{
  @include span-columns(12 omega, 12);
  clear: right;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(4, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(4, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(4, 12);
  }
}

.width-33.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(4 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(4 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(4 omega, 12);
  }
}

.width-50.float-left{
  @include span-columns(12 omega, 12);
  clear: right;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(6, 12);
  }
}

.width-50.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(6 omega, 12);
  }
}

.width-66.float-left{
  @include span-columns(12 omega, 12);
  clear: right;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(8, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(8, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(8, 12);
  }
}

.width-66.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(8 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(8 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(8 omega, 12);
  }
}

.width-75.float-left{
  @include span-columns(12 omega, 12);
  clear: right;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(9, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(9, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(9, 12);
  }
}

.width-75.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(9 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(9 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(9 omega, 12);
  }
}

.width-100{
  @include span-columns(12 omega, 12);
  clear: both;
}



// Default grid blocks here following the "Mobile First" strategy.
