// ---------------------------------------------------------------------------
// Imports.

@import "susy"; // Susy Grids
// @import "singularitygs"; // Singularity Grid System
// @import "zen"; // Zen Grids
// @import "breakpoint"; //@Media Query Mixins

// ---------------------------------------------------------------------------
// Susy Grid.

$base-font-size: 14px;
// This is the default number of columns.
$total-columns: 4;
// Width of each column.
$column-width   : 6em;
// Space between columns.
$gutter-width   : 1.5em;
// Space on the right and left of the grid.
$grid-padding   : $gutter-width;

// $container-style: <style>; <style>: magic | static | fluid.
$container-style: magic;

// $legacy-support-for-ie  : true;
// $legacy-support-for-ie6 : $legacy-support-for-ie;
// $legacy-support-for-ie7 : $legacy-support-for-ie;

$show-grid-backgrounds  : true;

//alternative layout breakpoints
$narrow:30em 6;
$tablet:40em 8;
$computer:52em 12;
$wide: 65em 12;


// ---------------------------------------------------------------------------
// Media Query Settings for use with Breakpoint.

/*
$breakpoint-to-ems: true;
$breakpoint-default-media: all;
$breakpoint-default-pair: width;

$narrow: 32em;
$tablet: 48em;
$computer: 63em;
$wide: 80em;
*/


// ---------------------------------------------------------------------------
// "Mobile First", grid styles.

.container{
  @include container;
  @include susy-grid-background;

  @include at-breakpoint($narrow){
    @include container;
    @include susy-grid-background;
  }
  @include at-breakpoint($tablet){
    @include container;
    @include susy-grid-background;
  }
  @include at-breakpoint($computer){
    @include container;
    @include susy-grid-background;
  }
  @include at-breakpoint($wide){
    @include container;
    @include susy-grid-background;
  }
} //.container


// Panels Layouts
.parrot-panels{
  #minipanel-two-50-top-wrapper{
    .minipanel-two-50-top{
      @include span-columns(12 omega, 12);
    }
  }
  #minipanel-two-50-middle-wrapper{
    .minipanel-two-50-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(6, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(6, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(6, 12);
      }
    }
    .minipanel-two-50-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(6 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(6 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(6 omega, 12);
      }
    }
  }

  #minipanel-two-50-bottom-wrapper{
    .minipanel-two-50-bottom{
      @include span-columns(12 omega, 12);
    }
  }

  #minipanel-three-33-top-wrapper{
    .minipanel-three-33-top{
      @include span-columns(12 omega, 12);
    }
  }

  #minipanel-three-33-middle-wrapper{
    .minipanel-three-33-first{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 12);
      }
    }
    .minipanel-three-33-second{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 12);
      }
    }
    .minipanel-three-33-third{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(4 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(4 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(4 omega, 12);
      }
    }
  }

  #minipanel-three-33-bottom-wrapper{
    .minipanel-three-33-bottom{
      @include span-columns(12 omega, 12);
    }
  }

  #three-inset-left-wrapper{
    #three-inset-left-left-wrapper{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(9, 12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(9, 12);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(9, 12);
      }

      .three-inset-left-middle{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include remove-omega;
          @include span-columns(6, 12);
        }
        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(6, 12);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(6, 12);
        }
      }
      .three-inset-left-inset{
        @include span-columns(12 omega, 12);

        @include at-breakpoint($narrow){
          @include span-columns(12 omega, 12);
        }
        @include at-breakpoint($tablet){
          @include span-columns(6 omega, 12);
        }
        @include at-breakpoint($computer){
          @include span-columns(6 omega, 12);
        }
        @include at-breakpoint($wide){
          @include span-columns(6 omega, 12);
        }
      }
    }
    #three-inset-left-right-wrapper{
      @include span-columns(12 omega, 12);

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($computer){
        @include span-columns(3 omega, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(3 omega, 12);
      }
    }
  }


} //.parrot-panels

// Default grid blocks here following the "Mobile First" strategy.



.view-mode-50_width{
  @include span-columns(12 omega, 12);
  clear: both;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(6, 12);
  }
}
.view-mode-50_width_right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(6 omega, 12);
  }
}
.view-mode-100_width{
  @include span-columns(12 omega, 12);
}



// Default grid blocks here following the "Mobile First" strategy.
