//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background: $bodyBackground;

  &.admin-menu {
    margin-top: 32px !important;
  }
}


// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}


// Images
// -------------------------

// Rounded corners
.img-rounded {
  @include border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  @include box-shadow(#{0 1px 3px rgba(0,0,0,.1)});
}

// Perfect circle
.img-circle {
  @include border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}

/*
Block clearfix - yup its a recap of the clearfix trick, no reason to do class="clearfix/cf/whatever" all over our markup
----------------------------*/
.block .content:before,.block .content:after { content:""; display:table;}
.block .content:after { clear:both;}
.block .content { zoom:1;}

/*
  admin styles for blocks
* ------------------------------------- */
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
