{#
/**
 * @file
 * Default theme implementation for displaying search results.
 *
 * This template collects each invocation of theme_search_result(). This and
 * the child template are dependent to one another sharing the markup for
 * definition lists.
 *
 * Note that modules may implement their own search type and theme function
 * completely bypassing this template.
 *
 * Available variables:
 * - $search_results: All results as it is rendered through
 *   search-result.tpl.php
 * - $module: The machine-readable name of the module (tab) being searched, such
 *   as "node" or "user".
 *
 *
 * @see template_preprocess_search_results()
 */
#}
{% if search_results %}
  <h2>{% trans %}Search results{% endtrans %}</h2>
  <section class="search-results {{module}}-results">
    {{ search_results }}
  </section>
  {{ pager }}
{% else %}
  <h2>{% trans %}Your search yielded no results{% endtrans %</h2>}
{% endif %}
